<html>

<head>

<title>Roald Brønstads personal site</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


  <!--import script files needed from plotly and bootstrap-->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>

<!--navbar links-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
   <a class="navbar-brand" href="#">Data science Roald Bronstad</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse"
  data-target="#navbarTogglerDemo02"
  aria-controls="navbarTogglerDemo02" aria-expanded="false"
  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link" href="https://www.udacity.com">Udacity</a>
      </li>
      <!-- <li class="nav-item">
        <a class="nav-link" href="https://data.worldbank.org/">World Bank Data</a>
      </li> -->
    </ul>
  </div>
</nav>

<!--social media buttons column-->
<div class="row">
  <div class="col-1">
      <div id="follow-me" class="mt-3">
          <a href="https://www.linkedin.com/in/br%C3%B8nstad/">
              <img src="../static/img/linkedinlogo.png" alt="linkedin" class="img-fluid mb-4 ml-2">
          </a>
          <a href="https://github.com/Roaldb86">
              <img src="../static/img/githublogo.png" alt="github" class="img-fluid ml-2">
          </a>
      </div>
  </div>

  <!-- Machine learning projects -->
  <div class="col-10">
    <h1>Machine learning projects</h1>
    <div class="row">

      <div class="col-3">
        <br>
        <h5>Classifying disaster messages</h5>
        <a href="/disaster">
            <img src="../static/img/disaster.jpg" alt="Disaster-messages" class="img-fluid ml-2">
        </a>
      </div>
      <div class="col-3">
        <br>
        <h5>Classifying flowers with CNN</h5>
        <a href="/flowers">
            <img src="../static/img/flower.jpg" alt="Disaster-messages" class="img-fluid ml-2">
        </a>
      </div>
      <div class="col-3">
        <br>
        <h5>Analyzing AirBNB data</h5>
        <a href="https://medium.com/@roaldb86/want-to-know-how-to-get-the-most-out-of-your-airbnb-listing-b1a0361330f5">
            <img src="../static/img/airbnb.png" alt="Disaster-messages" class="img-fluid ml-2">
        </a>
      </div>

    </div>



  </div>
</div>


</body>
</html>
